@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1>Juanito Button</h1>
    <a href="#" class="btn" onmousedown="playMusic()">Press!</a>

    <h2 id="clicks">000</h2>
</div>
