@page
@model IndexModel
@{
    ViewData["Title"] = "Juanito Button";
}


@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}

<div ng-controller="IndexController as vm" class="text-center">
    <div class="bottom-right">

        <div class="card card-body" style="width:400px">
            <label class="label" for="volRange">Volume</label>
            <div class="d-flex justify-content-center">
                <div class="flex-grow-1">
                    <input id="volRange" class="form-control" ng-change="vm.setVol()" ng-model="vm.volume" type="range" min="0" max="10" />
                </div>
                <div>
                    <p class="label">{{vm.volume}}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="d-flex mt-2">
        <div class="ml-5" ng-repeat="sound in vm.sounds">
            <div class="row clearfix">
                <a href="#" class="clearfix small-button" style="background-color: {{vm.colors[$index]}}" ng-click="vm.playMusic(sound)"></a>
            </div>
            <div class="text-center">
                {{sound}}
            </div>
            <div class="text-center">
                <h2>{{vm.clicks[sound]}}</h2>
            </div>
        </div>
    </div>
</div>
