/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #333333;
    color: #EAECEC;
    font-family: 'Bangers', cursive;
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}

.bottom-right {
    position: fixed;
    right: 0;
    bottom: 0;
}

.red-button {
    background-color: #FF6755;
}

    .red-button .btn-main:hover {
        color: #668ad8;
    }

.ram {
    color: #FFF;
}

    .ram .btn-main {
        color: #668ad8;
        background-color: #FFF;
    }

        .ram .btn-main:hover {
            color: #668ad8;
        }

.partridge {
    font-family: 'Ubuntu', sans-serif;
    color: #6054ab;
}

    .partridge .btn-main {
        background-color: #6054ab;
    }

        .partridge .btn-main:hover {
            color: #FF6755;
        }


.container-fluid {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 10vh;
    text-decoration: none;
}

.btn-main {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-size: 3vh;
    width: 15vh;
    height: 15vh;
    line-height: 15vh;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
}

.small-button {
    width: 94px;
    height: 89px;
    border-radius: 50%;
    content: url(../image/button_pressed.png) url(../image/button.png);
    background: url(../image/button.png) no-repeat;
}

    .small-button:active {
        background: url(../image/button_pressed.png) no-repeat;
    }

.label {
    color: #333333;
}
