<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Juanito</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">


</head>
<body>
    <div class="container-fluid">
        <div class="left-shape"></div>
        <div class="left-shape-2"></div>
        <main role="main" class="pb-3">
            <div class="main-text">
                @RenderBody()
            </div>
        </main>

        <audio id="juanitoAudio">
            <source src="~/juanito.mp3" />
        </audio>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Bruce Production
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">

        $(document).ready(function () {

            var storageName = "juanito_clicks";
            var clicks = localStorage.getItem(storageName);

            if (!clicks) {
                clicks = 0;
            }
            var zeroFilled = ('000' + clicks).substr(-3)
            $('#clicks').html(zeroFilled);
        });

        function playMusic() {

            var music = document.getElementById("juanitoAudio");

            if (music.paused) {
                var storageName = "juanito_clicks";
                var clicks = localStorage.getItem(storageName);

                if (!clicks) {
                    clicks = 0;
                }
                else {
                    clicks = parseInt(clicks);
                }

                clicks = clicks + 1;

                localStorage.setItem(storageName, clicks);

                var zeroFilled = ('000' + clicks).substr(-3)
                $('#clicks').html(zeroFilled);

                music.play();
            }
        }
    </script>


</body>
</html>
